---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Mike Yushkovskiy</div>
    <div class="text-3xl py-3 font-bold">Engineer in Security</div>
    <div class="py-2">
      <text class="text-lg">
        Help companies build secure software. Based in Tbilisi, Georgia.
      </text>
    </div>
    <div class="py-2">
      <text class="text-lg">
        Been doing this for 10+ years - worked with companies like Inspectorio, Wargaming, and a bunch of startups. I do everything from writing code to finding security bugs to teaching teams how to build things properly.
      </text>
    </div>
    <div class="py-2">
      <text class="text-lg">
        When I'm not working, I compete in security competitions with the <strong>ZenSecurity</strong> team. Found some interesting bugs along the way - even got a CVE published.
      </text>
    </div>
    <div class="mt-8 flex gap-4">
      <a
        href="https://www.linkedin.com/in/mike-yushkovskiy/"
        target="_blank"
        class="btn btn-primary"
      >
        Let's connect!
      </a>
      <a
        href="mailto:contact@zensecurity.su"
        class="btn btn-outline"
      >
        Email me
      </a>
    </div>
  </div>
</BaseLayout>
